/* RESET GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GENERALES*/
body {
  background-color: beige;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h1 {
  color: #ffc0cb;
}

h2 {
  color: #ffc0cb (255, 255, 255);
}

/* HEADER  */
header {
  background-color: rgb(207, 134, 146);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

/* IMAGEN  */
body img {
  width: 60%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  font-style: oblique;
}

/*  ESTILOS DE TEXTOS EN MAIN */
main h1 {
  color: rgb(206, 130, 143);
}

main h3 {
  color: pink;
}

main h4 {
  color: rgb(219, 38, 146);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animar {
  animation: fadeUp 1s ease-in-out both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animar-servicio {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

.animar-delay-1 { animation-delay: 0.2s; }
.animar-delay-2 { animation-delay: 0.4s; }
.animar-delay-3 { animation-delay: 0.6s; }